################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Note/.vs/Note
/Note/Note.Entity/obj
/Note/Note.App/obj
/Note/Note.Data/obj
